<h2>Products</h2>
<div *ngFor="let product of products; index as productId" class="mb-4">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">{{ product.name }}</a>
  </h3>
  <p *ngIf="product.description">{{ product.description }}</p>
  <div class="row">
    <div class="col">
      <app-product-share [product]="product" (notify)="onShare()"></app-product-share>
    </div>
    <div class="col">
      <app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
    </div>
  </div>
  <hr />
</div>
